* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    display: grid;
    grid-template-columns: 2fr 6.5fr 2.5fr;
}

#sidebar {
    display: grid;
    height: 100vh;
    grid-column: 1 / 2;
    padding: 5vh 0vw 5vw 0vh;
    background-color: aliceblue;
    grid-template-columns: 2.5vw auto;
    grid-template-rows: auto auto auto auto;
    justify-items: start;
    align-items: start;
    gap: 0px;
}

.sidebar-section {
    grid-column: 2 / 3;
}

#form {
    grid-column: 3 / 4;
    height: auto;
    width: 450px;
    background-color: antiquewhite;
}

h1 {
    font-size: 1.25 rem;
}

h2 {
    font-size: .8 rem;
}