* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    display: grid;
    grid-template-columns: 2fr 6.5fr 2.5fr;
}

#sidebar {
    display: grid;
    height: 100vh;
    grid-column: 1 / 2;
    padding: 5vh 0vw 5vw 0vh;
    background-color: #e6e6cc;
    grid-template-columns: 1.5vw auto;
    grid-template-rows: auto auto auto auto;
    justify-items: start;
    align-items: start;
    gap: 0px;
}

.sidebar-section {
    grid-column: 2 / 3;
}

#board {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    grid-column: 2 / 3;
    background-color: #f5f5dc;
    padding: 6vh 2vw 5vw 2vh;
}

.stickies {
    display: grid;
    gap: .5vh;
}

.sticky {
    padding: 3vh;
    background-color: white;
    box-shadow: 2px 2px 2px 0px grey;
    border-radius: 4px;
}

#form {
    grid-column: 3 / 4;
    height: auto;
    width: 450px;
    background-color: antiquewhite;
}

h1 {
    font-size: 1.25 rem;
}

h2 {
    font-size: .8 rem;
}