* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    color: #333
}

body {
    display: grid;
    grid-template-columns: 2fr 6.5fr 2.5fr;
    background-color: #f5f5dc;
}

#sidebar {
    display: grid;
    height: 100vh;
    grid-column: 1 / 2;
    padding: 5vh 0vw 5vw 0vh;
    background-color: #e6e6cc;
    grid-template-columns: 1.5vw auto;
    grid-template-rows: 1fr 5fr 5fr 5fr ;
    justify-items: start;
    align-items: start;
    gap: 0px;
    border: 1px solid lightgray;
}

.sidebar-section {
    grid-column: 2 / 3;
}

#board {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    grid-column: 2 / 3;
    background-color: #f5f5dc;
    padding: 6vh 2vw 5vw 2vh;
}

.stickies {
    display: grid;
    gap: .5vh;
}

.sticky-pair {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh;
    background-color: white;
    box-shadow: 1px 1px 2px 0px lightgray;
    border-radius: 4px;
    font-size: larger;
}

.start {
    display: flex;
    gap: 1rem;
}

#form {
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    margin: 1vh 4vw auto -1vw;
    background-color: #f5f5dc;
    border: 1px solid lightgray;
    justify-content: center;
    align-content: center;
}

.todo-form {
    padding: .5vh .5vh .5vh .5vh;
}

.delete, .date {
    padding: .5rem;
    font-weight: bold;
    border: 0px;
    background-color: lightgray;
    border-radius: 6px;
}

input {
    width: 100%;
    height: 2rem;
    border-radius: 4px;
    border: 1px solid lightgray;
    color: gray;
    padding-left: .25rem;
    font-size: .9rem;
}

.btn, #add-btn {
    background-color: black;
    color: white;
}

.checkbox {
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.checkbox:hover {
    background-color: #ccc;
}

.checkbox::after {
    content: "";
    height: 500px;
}

.todo-priority {
    display: flex;
}

.hashtag:hover {
    color:red;
    text-decoration: line-through;
}

h1 {
    font-size: 1.25 rem;
}

h2 {
    font-size: .8 rem;
}